.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(105, 29, 204);
  padding: 1.2rem;
  border-radius: 1rem;
  font-size: 1.5rem;
  gap: .5rem;
}

.icon {
  font-size: 2rem;
}