@use '../styles/fontsWeights.scss';

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.content {
  margin-top: 5rem;
  text-align: center;

  p {
    margin-top: 2rem;
    width: 40rem;
  }
}
.screenshotstitle {
  font-weight: fontsWeights.$thindescription;
  font-size: 2rem;
  text-align: center;
}

.carousel {
  max-width: 20rem;
}
