@use './fontsWeights';
@use './banner';
@use './button';

// Styles

.content {
  display: flex;
  .banner {
    background-image: banner.$image;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 100%;
    justify-content: space-between;
    width: 100%;
    height: banner.$height;
    max-height: 100%;
  }

  .welcome {
    font-weight: fontsWeights.$title;
    font-size: 3rem;
    margin: 15rem 0 0 4rem;
  }

  button {
    border: 0.2rem button.$border-and-title-color solid;
    outline: none;
    background-color: transparent;
    overflow: hidden;
    color: button.$border-and-title-color;
    padding: 1rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    margin: 4rem 0 0 4rem;
    backdrop-filter: blur(1rem);
    box-shadow: 0 0.8rem 1rem rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: 0.5s;
  }

  button:active {
    background-color: button.$active;
  }
}

.container {
  flex-wrap: wrap;

  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 2rem;
}

.summary {
  text-align: start;
  background-color: rgb(92, 66, 163);
  padding: 2rem;
  border-radius: 0.5rem;
  justify-content: space-between;
  margin-right: 4rem;
  flex-wrap: wrap;
  .title {
    margin-bottom: 0.5rem;
    font-size: 3rem;
  }

  .description {
    font-size: 1.2rem;
    width: 40rem;
  }
}

.picture {
  height: auto;
  border-radius: 20rem;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 6rem;
}

@media (max-width: 856px) {
  .site {
    height: 100%;
    margin-bottom: -10rem;
  }

  .content {
    flex-direction: column;

    .banner {
      background-size: cover;
      background-position: center center;
    }

    .welcome {
      width: 15rem;
      margin: 20rem 0 0 4rem;
      font-size: 2rem;
    }

    button {
      width: 10rem;
    }

    button:active {
      background-color: button.$active;
    }
  }

  .container {
    .picture {
      width: 40%;
      margin: 2rem 0 2rem 0;
    }

    .summary {
      text-align: center;
      background-color: rgb(92, 66, 163);
      padding: 2rem;
      border-radius: 0.5rem;
      width: 15rem;
      margin: 0;

      .title {
        margin-bottom: 0.5rem;
        font-size: 3rem;
      }

      .description {
        font-size: 1.2rem;
        width: 100%;
      }
    }
  }

  .cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 20rem;
    flex-direction: column;
    padding: 2rem;
  }
}
