.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(49, 33, 138);
  padding: 3rem;
  width: 20rem;
  border-radius: 2rem;
  text-align: center;
  gap: 2rem;
  transition: 0.2s;

  &:hover {
    background-color: rgb(60, 41, 168);
  }
}
