@use '../../styles/navbarColors.scss';

.bar {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: space-between;

  align-items: center;
  position: fixed;
  z-index: 1;
  transition: 0.2s;
}

.blur {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  backdrop-filter: blur(1rem);
  align-items: center;
  position: fixed;
  z-index: 2;
}

.logo {
  color: rgb(109, 29, 238);
  font-size: 1.5rem;
  letter-spacing: 0.15rem;
  cursor: pointer;
  transition: 0.2s;

  padding-left: 2rem;

  &:hover {
    color: rgb(133, 64, 245);
  }

  &:active {
    color: rgb(88, 24, 192);
  }
}

.items {
  display: flex;

  gap: 1rem;
  cursor: pointer;

  padding-right: 2rem;
}

.pages {
  color: navbarColors.$title;
  transition: 0.2s;
  font-size: 1.1rem;
  &:hover {
    color: navbarColors.$hover;
  }

  &:active {
    color: navbarColors.$active;
  }
}
